a,
a:hover,
a:visited {
    color: #ee4c2c;
}

a:hover {
    text-decoration: underline;
}

.wy-nav-content {
    max-width: 960px;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #262626;
}


.wy-nav-side {
    background: #f3f4f7;
}

.wy-menu-vertical a,
.wy-menu-vertical a:active,
.wy-menu-vertical a:hover {
    color: #6c6c6d;
}

.wy-menu-vertical a:hover {
    background-color: #e8e9ea;
    cursor: pointer;
}

.wy-menu-vertical a:active {
    background-color: #e8e9ea;
}

.wy-side-nav-search input[type=text] {
    border-color: #c9c9c9;
}

.rst-content .viewcode-back,
.rst-content .viewcode-link {
    color: #4974D1;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    background: #f3f4f7 !important;
    color: #6c6c6d !important;
    border-top: none !important;
    border-left: 3px solid #ee4c2c !important;
    padding: 0.5rem;
    padding-right: 100px;
    word-wrap: break-word;
}

.rst-content table.docutils,
.wy-table-bordered-all {
    border: none;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td,
.wy-table-backed,
.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td {
    background-color: #f3f4f7;
}

.rst-content table.docutils td,
.wy-table-bordered-all td {
    border: none;
}

.rst-content table.docutils td,
.rst-content table.docutils th,
.rst-content table.field-list td,
.rst-content table.field-list th,
.wy-table td,
.wy-table th {
    padding: 12px 16px;
}

.rst-content code,
.rst-content tt,
code {
    border: none;
    color: #ee4c2c;
}

.rst-content code.xref,
.rst-content tt.xref,
a .rst-content code,
a .rst-content tt {
    color: inherit;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border: none;
}

.wy-menu-vertical li.current a {
    border: none;
}

.wy-menu-vertical li.current {
    background: #e1e2e4;
}

.wy-menu-vertical li.current>a,
.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a:hover,
.wy-menu-vertical li.on a:hover {
    background: none;
}


.highlight {
    background: #f3f4f7;
}

.rst-content div[class^=highlight],
.rst-content pre.literal-block {
    border: none;
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.field-list)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list)>dt {
    padding-left: 8px;
    border: none;
    border-left: 3px solid #ee4c2c;
    background: #f3f4f7;
    color: #555;
}

.rst-content .note,
.rst-content .seealso,
.rst-content .wy-alert-info.admonition,
.rst-content .wy-alert-info.admonition-todo,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.wy-alert.wy-alert-info {
    background: #f3f4f7;
}

.rst-content .note .admonition-title,
.rst-content .note .wy-alert-title,
.rst-content .seealso .admonition-title,
.rst-content .seealso .wy-alert-title,
.rst-content .wy-alert-info.admonition-todo .admonition-title,
.rst-content .wy-alert-info.admonition-todo .wy-alert-title,
.rst-content .wy-alert-info.admonition .admonition-title,
.rst-content .wy-alert-info.admonition .wy-alert-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.wy-alert.wy-alert-info .wy-alert-title {
    background: #54c7ec;
}

.rst-content .admonition-todo,
.rst-content .attention,
.rst-content .caution,
.rst-content .warning,
.rst-content .wy-alert-warning.admonition,
.rst-content .wy-alert-warning.danger,
.rst-content .wy-alert-warning.error,
.rst-content .wy-alert-warning.hint,
.rst-content .wy-alert-warning.important,
.rst-content .wy-alert-warning.note,
.rst-content .wy-alert-warning.seealso,
.rst-content .wy-alert-warning.tip,
.wy-alert.wy-alert-warning {
    background: #f3f4f7;
}

.rst-content .admonition-todo .admonition-title,
.rst-content .admonition-todo .wy-alert-title,
.rst-content .attention .admonition-title,
.rst-content .attention .wy-alert-title,
.rst-content .caution .admonition-title,
.rst-content .caution .wy-alert-title,
.rst-content .warning .admonition-title,
.rst-content .warning .wy-alert-title,
.rst-content .wy-alert-warning.admonition .admonition-title,
.rst-content .wy-alert-warning.admonition .wy-alert-title,
.rst-content .wy-alert-warning.danger .admonition-title,
.rst-content .wy-alert-warning.danger .wy-alert-title,
.rst-content .wy-alert-warning.error .admonition-title,
.rst-content .wy-alert-warning.error .wy-alert-title,
.rst-content .wy-alert-warning.hint .admonition-title,
.rst-content .wy-alert-warning.hint .wy-alert-title,
.rst-content .wy-alert-warning.important .admonition-title,
.rst-content .wy-alert-warning.important .wy-alert-title,
.rst-content .wy-alert-warning.note .admonition-title,
.rst-content .wy-alert-warning.note .wy-alert-title,
.rst-content .wy-alert-warning.seealso .admonition-title,
.rst-content .wy-alert-warning.seealso .wy-alert-title,
.rst-content .wy-alert-warning.tip .admonition-title,
.rst-content .wy-alert-warning.tip .wy-alert-title,
.rst-content .wy-alert.wy-alert-warning .admonition-title,
.wy-alert.wy-alert-warning .rst-content .admonition-title,
.wy-alert.wy-alert-warning .wy-alert-title {
    background: #e94f3b;
}


html.writer-html5 .rst-content table.docutils th {
    border: none;
}

html,
body,
.wy-body-for-nav,
.wy-nav-content {
    background: #ffffff !important;
}


.wy-nav-content-wrap {
    background: none;
}

.body,
.rst-content .toctree-wrapper>p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: -apple-system, BlinkMacSystemFont, arial, sans-serif !important;
}

.body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga", "case", "calt";
}

.btn {
    border: None;
    box-shadow: None;
    padding: 8px 12px;
}

.btn:active {
    box-shadow: None;
    padding: 8px 12px;
}