a,
a:hover,
a:visited {
    color: #ee4c2c;
}

a:hover {
    text-decoration: underline;
}

.wy-nav-content {
    max-width: 960px;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #262626;
}


.wy-nav-side {
    background: #f3f4f7;
}

.wy-menu-vertical a,
.wy-menu-vertical a:active,
.wy-menu-vertical a:hover {
    color: #6c6c6d;
}

.wy-menu-vertical a:hover {
    background-color: #e8e9ea;
    cursor: pointer;
}

.wy-menu-vertical a:active {
    background-color: #e8e9ea;
}

.wy-side-nav-search input[type=text] {
    border-color: #c9c9c9;
}

.rst-content .viewcode-back,
.rst-content .viewcode-link {
    color: #4974D1;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    background: #f3f4f7;
    color: #6c6c6d;
    border-top: none;
    border-left: 3px solid #ee4c2c;
    padding: 0.5rem;
    padding-right: 100px;
    word-wrap: break-word;
}

.rst-content table.docutils,
.wy-table-bordered-all {
    border: none;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td,
.wy-table-backed,
.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td {
    background-color: #f3f4f7;
}

.rst-content table.docutils td,
.wy-table-bordered-all td {
    border: none;
}

.rst-content table.docutils td,
.rst-content table.docutils th,
.rst-content table.field-list td,
.rst-content table.field-list th,
.wy-table td,
.wy-table th {
    padding: 12px 16px;
}

.rst-content code,
.rst-content tt,
code {
    border: none;
    color: #ee4c2c;
}

.rst-content code.xref,
.rst-content tt.xref,
a .rst-content code,
a .rst-content tt {
    color: inherit;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border: none;
}

.wy-menu-vertical li.current a {
    border: none;
}

.wy-menu-vertical li.current {
    background: #e1e2e4;
}

.wy-menu-vertical li.current>a,
.wy-menu-vertical li.on a,
.wy-menu-vertical li.current>a:hover,
.wy-menu-vertical li.on a:hover {
    background: none;
}