name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel
        pip install build --user
    - name: Build package
      run: >- 
        python -m build --sdist --wheel --outdir dist/
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.PYPI_TOKEN }}

  anaconda:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.x
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda install -y anaconda-client conda-build conda-verify
    - name: Publish distribution to Anaconda
      env:
        ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
      run: |
        cd ./conda  # go to build dir

        # Build for Linux
        conda build --output-folder . .

        # Convert to other platforms: OSX, WIN
        conda convert -p osx-64 linux-64/*.tar.bz2
        conda convert -p win-64 linux-64/*.tar.bz2

        anaconda upload --label main osx-64/*.tar.bz2
        anaconda upload --label main linux-64/*.tar.bz2
        anaconda upload --label main win-64/*.tar.bz2
